/Dalamud-master
/Dalamud-master.zip
/Dalamud-master-*.zip
/FFXIV-ProximityVoiceChat-master.zip
/FFXIV-ProximityVoiceChat-master
.idea
Feature_detail.md
/14.0.4.1.zip
/14.0.4.1
/15.0.0.2
/15.0.0.2.zip
.DS_Store
__pycache__/
*.pyc
/out
